.container {
  height: 50px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.icons{
    display: flex;
    gap: 10px;
    opacity: 0.7;
    margin-right: 50px;
}