.container {
  height: 50px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20;
  margin-top: 200;
}

.icons {
  display: flex;
  gap: 10px;
  opacity: 0.7;
  cursor: pointer;
}
