.container {
  width: 100%;
  height: 70px;
  padding: 0 40px;
  background-color: #0f0f0f;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.7;
}

.right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.links {
  display: flex;
  gap: 25px;
  font-size: 15px;
  font-weight: 500;
}

.links a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.links a:hover {
  color: #aaa;
}