.layoutContainer {
  padding: 60px 10px;
}
.layoutTitle {
  font-size: 6rem; /* make h1 big */
  font-weight: bold;
  margin-bottom: 20px;
  opacity: 0.6;
}

.images {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 40px;
  opacity: 0.8;
  margin-bottom: 20px;
  opacity: 0.6;
}

.images :global(img) {
  border: 3px solid white;   /* thickness + style + color */
  border-radius: 10px;       /* rounding corners */
  object-fit: cover;
  transition: transform 0.3s;
  cursor: pointer;
  object-position: left;
}

.images :global(img):hover {
  transform: scale(1.05);
}

.images p{
    margin-top: 10px;
}