.container {
  margin-top: 150px;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.right h1 {
  font-size: 64px;
  font-weight: 600;
  opacity: 0.8;
}

.right p {
  font-size: 18px;
  line-height: 1.6;
  opacity: 0.7;
  max-width: 500px;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0.7;
}

.author img {
  border-radius: 50%;
}

.left {
  flex: 1;
  display: flex;
  justify-content: center;
}

.mainImage {
  border-radius: 12px;
  object-fit: cover;
}