.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40;
  padding: 50px 60px;
  background-color: #0d0d0d;
  color: white;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.title {
  font-size: 82px;
  font-weight: 700;
  line-height: 1.1;
  background: linear-gradient(to bottom, #4ade80, #9ca3af);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc {
  font-size: 20px;
  color: #b3b3b3;
  max-width: 500px;
  line-height: 1.6;
}

.right {
  flex: 1;
  position: relative;
  height: 500px;
}

.heroImg {
  object-fit: contain;
}