.container {
  display: flex;
  gap: 40px;
  align-items: center;
  margin: 20px;
  cursor: pointer;
}

.container :global(img) {
    border-radius: 50%;
}


.title {
  font-size: 40px;
  margin-bottom: 10px;
  opacity: 0.7;
}

.desc {
  opacity: 0.7;
}
